# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages used by data scientists
* Commonly used python libraries used by Data scientists
* Data science tools for development
* Arithmetic expressions example in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Matplotlib

| Data Science Tools |
| -------|
| Jupyter |
| Google Colab |
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sne Darki-Morag